<h1>Edit Contact us</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.contact_us_path(@conn, :update, @contact_us)) %>

<span><%= link "Back", to: Routes.contact_us_path(@conn, :index) %></span>
