<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= input f, :name %>
  <%= input f, :email %>

  <div class="form-group <%= state_class(f, :message) %>">
  <%= label f, :message %>
  <%= textarea f, :message, class: "form-control " <> state_class(f, :message) %>
  <%= error_tag f, :message %>
  </div>

  <div class="form-group">
    <%= submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
