<h1>Listing Contact us</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Message</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for contact_us <- @contact_us do %>
    <tr>
      <td><%= contact_us.name %></td>
      <td><%= contact_us.email %></td>
      <td><%= contact_us.message %></td>
      <td class="column-button">
        <%= link "Show", to: Routes.contact_us_path(@conn, :show, contact_us) %>
        <%= link "Edit", to: Routes.contact_us_path(@conn, :edit, contact_us) %>
        <%= link "Delete", to: Routes.contact_us_path(@conn, :delete, contact_us), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Contact us", to: Routes.contact_us_path(@conn, :new) %></span>
