<h1>Show Contact us</h1>

<ul>

</ul>

<span><%= link "Edit", to: Routes.contact_us_path(@conn, :edit, @contact_us) %></span>
<span><%= link "Back", to: Routes.contact_us_path(@conn, :index) %></span>
