<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= hidden_input f, :user_id, class: "form-control", value: user_id(@conn) %>

  <% list_category = @category |> Enum.reduce([], fn(item, acc) -> acc ++ [[key: item.name, value: item.id]] end) %>
  <div class="form-group">
    <%= select f, :category_id, list_category, class: "form-control", selected: f.data.category_id %>
  </div>
  
  <%= input f, :title %>

  <div class="form-group <%= state_class(f, :body) %>">
    <%= label f, :body %>
    <%= textarea f, :body, class: "form-control " <> state_class(f, :body) %>
    <%= error_tag f, :body %>
  </div>

  <div class="form-group">
    <%= submit "Save", class: "btn btn-primary" %>
  </div>

<% end %>
