<h1>Listing Todos</h1>

<form>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Kategori</th>
      <th scope="col">Judul</th>
      <th scope="col">Konten</th>
      <th scope="col"></th>
    </tr>

    <tr>
      <td>
        <input type="text" class="form-control" placeholder="Kategori" name="category_id">  
      </td>

      <td colspan="3">
        <input type="text" class="form-control" placeholder="Cari judul" name="title_contains">  
      </td>
    </tr>

  </thead>
  <tbody>
<%= for todos <- @todos do %>
    <tr>
      <td><%= todos.category_id %></td>
      <td><%= todos.title %></td>
      <td><%= todos.body %></td>
      <td class="column-button">
        <%= link "Show", to: Routes.todos_path(@conn, :show, todos.id) %>
        <%= link "Edit", to: Routes.todos_path(@conn, :edit, todos.id) %>
        <%= link "Delete", to: Routes.todos_path(@conn, :delete, todos.id), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
</form>

<span><%= link "New Todos", to: Routes.todos_path(@conn, :new) %></span>
<span><%= link "Export (as xls)", to: Routes.todos_path(@conn, :export_xls, user_id(@conn)) %></span>
