<h1>Show Todos</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @todos.title %>
  </li>

  <li>
    <strong>Body:</strong>
    <%= @todos.body %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.todos_path(@conn, :edit, @todos) %></span>
<span><%= link "Back", to: Routes.todos_path(@conn, :index) %></span>
