<h1>Edit User</h1>

<%= form_for @changeset, Routes.user_path(@conn, :update, @user), [multipart: true], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
  <%= label f, :photo %>
  <%= file_input f, :photo, class: "form-control" %>
  <%= error_tag f, :photo %>
  </div>

  <div class="form-group">
  <%= label f, :password %>
  <%= password_input f, :password, class: "form-control" %>
  <%= error_tag f, :password %>
  </div>

  <div class="form-group">
  <%= label f, :password_confirmation %>
  <%= password_input f, :password_confirmation, class: "form-control" %>
  <%= error_tag f, :password_confirmation %>
  </div>

  <div class="form-group">
    <%= submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>

<span><%= link "Back", to: Routes.user_path(@conn, :profile) %></span>
