<%= form_for @changeset, @action, [multipart: true], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
  <%= label f, :photo %>
  <%= file_input f, :photo, class: "form-control" %>
  <%= error_tag f, :photo %>
  </div>

  <%= input f, :username %>
  <%= input f, :encrypted_password %>

  <div class="form-group">
    <%= submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
