<h1>Profilku</h1>

<% user_img = if @user.photo == nil, do: "/unisex.png", else: "/" <> @user.photo %>
<% photo_profile = Routes.static_path(@conn, user_img) %>

<table class="table">
  <tbody>
    <tr>
      <td colspan="2"><img src="/images/<%= photo_profile %>" style="height: 50%" /></td>
    </tr>

    <tr>
      <td scope="row">Username: </td>
      <td><%= @user.username %></td>
    </tr>

    <tr>
      <td scope="row">Password terenkripsi: </td>
      <td><%= @user.encrypted_password %></td>
    </tr>

    <tr>
      <td scope="row"><%= link "Edit", to: Routes.user_path(@conn, :edit, @user.id) %></td>
      <td>&nbsp;</td>
    </tr>

  </tbody>
</table>
