<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Todo · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%= link "Todo App", to: "/", class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="navbar-nav mr-auto">
          <%= if signed_in?(@conn) do %>
            <li class="nav-item">
              <%= link("Todo", to: "/todo", class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link("Sign out", to: Routes.session_path(@conn, :delete), class: "nav-link", method: :delete) %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link("Sign in", to: Routes.session_path(@conn, :new), class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link("Sign up", to: Routes.user_path(@conn, :new), class: "nav-link") %>
            </li>
          <% end %>

          <li class="nav-item">
            <%= link("Kontak Kami", to: Routes.contact_us_path(@conn, :new), class: "nav-link") %>
          </li>

          <li class="nav-item">
            <%= link("About", to: Routes.page_path(@conn, :about), class: "nav-link") %>
          </li>

          <%= if signed_in?(@conn) do %>
          <li class="nav-item">
            <%= link("Profilku", to: Routes.user_path(@conn, :profile), class: "nav-link") %>
          </li>

          <li class="nav-item">
            <%= link("Kategori", to: Routes.category_path(@conn, :index), class: "nav-link") %>
          </li>
          <% end %>
        </ul>
      </nav>
    </header>

    <div class="container">
      <%= if get_flash(@conn, :info) do %>
        <div class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></div>
      <% end %>

      <%= if get_flash(@conn, :error) do %>
        <div class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></div>
      <% end %>
      <%= render @view_module, @view_template, assigns %>
    </div>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
