<h1>Sign in</h1>

<%= form_for @changeset, Routes.session_path(@conn, :new), [as: :session], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
  <%= label f, :username %>
  <%= text_input f, :username, class: "form-control" %>
  <%= error_tag f, :username %>
  </div>

  <div class="form-group">
  <%= label f, :password %>
  <%= password_input f, :password, class: "form-control" %>
  <%= error_tag f, :password %>
  </div>

  <div class="form-group">
    <%= submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
