<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= input f, :name %>

  <div class="form-group">
    <%= label f, :publish %>
    <%= select f, :publish, ["Ya": 1, "Tidak": 0], class: "form-control" %>
    <%= error_tag f, :publish %>
  </div>

  <div class="form-group">
    <%= submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
