<h1>Listing Category</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Publish</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for category <- @category do %>
    <tr>
      <td><%= category.name %></td>
      <td>
        <%= if category.publish, do: "Ya", else: "Tidak" %>
      </td>

      <td class="column-button">
        <%= link "Show", to: Routes.category_path(@conn, :show, category) %>
        <%= link "Edit", to: Routes.category_path(@conn, :edit, category) %>
        <%= link "Delete", to: Routes.category_path(@conn, :delete, category), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Category", to: Routes.category_path(@conn, :new) %></span>
